* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

.input-container
{
   background: linear-gradient(to bottom, #484a4e, #aaacae);
   height: 10vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.weather-container
{
    background: linear-gradient(to bottom, #1e3c72, #2a69ac);
    color: white;
    height: 90vh;
    width: 25vpw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-data
{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.labelloc
{
    font-size: 2rem;
}

.weather-status
{
    display: flex;
    align-items: center;
    justify-content: center;
}
